[Unit]
Description=pg_flashback summary daemon
After=postgresql.service
Requires=postgresql.service

[Service]
Type=simple
User=postgres
ExecStart=/usr/bin/pg_flashback-summaryd --config /etc/pg_flashback/pg_flashback-summaryd.conf --foreground
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
